[submodule "libs/LibFT"]
	path = libs/LibFT
	url = git@github.com:RubenNijhuis/LibFT

[submodule "libs/Get-Next-Line"]
	path = libs/Get-Next-Line
	url = git@github.com:RubenNijhuis/Get-Next-Line

[submodule "libs/Lib-Vec"]
	path = libs/Lib-Vec
	url = git@github.com:RubenNijhuis/Lib-Vec.git
[submodule "libs/MLX42"]
	path = libs/MLX42
	url = https://github.com/codam-coding-college/MLX42
