[submodule "libs/LibFT"]
	path = libs/LibFT
	url = https://github.com/RubenNijhuis/LibFT
	branch = main

[submodule "libs/Lib-Vec"]
	path = libs/Lib-Vec
	url = https://github.com/RubenNijhuis/Lib-Vec.git
	branch = main

[submodule "libs/MLX42"]
	path = libs/MLX42
	url = https://github.com/joppiesaus/MLX42.git
	branch = minirt
